<div class="container">
    <h2>Request details</h2>
      
    <table class="table .table-md" id="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Device</th>
            <th scope="col">Brand</th>
            <th scope="col">Model</th>
            <th scope="col">Problem Faced</th>
            <th scope="col">Contact No.</th>
            <th scope="col">Address</th>
            <th scope="col">Date of Visit</th>
            <th scope="col">Time</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>{{servForm.device}}</td>
            <td>{{servForm.brand}}</td>
            <td>{{servForm.model}}</td>
            <td>{{servForm.problem}}</td>
            <td>{{servForm.number}}</td>
            <td>{{servForm.address}}</td>
            <td>{{servForm.dateOfVisit}}</td>
            <td>{{servForm.time}}</td>
          </tr>
          
        </tbody>
      </table> 
             
    </div>
