<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarColor01">
      <a class="navbar-brand " href="http://localhost:4200/"><img src="assets/images/2.png" alt="e serve" width="130" height="60" ></a>
        <ul class="navbar-nav me-auto">
           <li class="nav-item">
            <a class="nav-link"    (click)="home();">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"    (click)="logout();">Logout</a>
          </li>
        </ul>

      </div>
    </div>
  </nav>