<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">    
   </head>
   <div class="container">
     
     <div class="popup" id="pop">
        <span id="boot-icon" class="bi bi-check-circle-fill"></span> 
       <h2>Thank You.....!!!</h2>
       <p>Your Details has been Successfully submitted.Thanks!</p>
       <button type="submit" class="btn btn-success" fdprocessedid="5f208"><a routerLink="/details"  >Success</a></button>
     </div>
   </div>
