<!-- <div class="container">
    <div class="row">
        <div class="col-md-4" *ngFor="let product of products">
            <div class="card" style="width:400px">
                <img class="card-img-top" [src]="product.imagePath" alt="Card image" style="width:100%">
                <div class="card-body">
                    <h4 class="card-title" align="center">{{product.name}}</h4>
                    <p class="card-text">{{product.description}}</p>
                    <h3>₹{{product.price}}/-</h3>
                    <p align="right">
                        <button class="btn btn-primary" (click)="addcart(product)"> Add to Cart </button>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <div class="card" style="width:400px">
                <img class="card-img-top" src="./assets/products/10001.jpg" alt="Card image" style="width:100%">
                <div class="card-body">
                    <h4 class="card-title" align="center">Nokia</h4>
                    <p class="card-text">No Cost EMI Applicable from 1499/- PerMonth. Standard Charges Applicable.</p>
                    <h3>₹12999.00/-</h3>
                    <p align="right">
                        <button class="btn btn-primary"> Add to Cart </button>
                    </p>
                </div>
            </div>
        </div>

        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <div class="card" style="width:400px">
                <img class="card-img-top" src="./assets/products/10004.jpg" alt="Card image" style="width:100%">
                <div class="card-body">
                    <h4 class="card-title" align="center">Samsung</h4>
                    <p class="card-text">No Cost EMI Applicable from 1499/- PerMonth. Standard Charges Applicable.</p>
                    <h3>₹29999.00/-</h3>
                    <p align="right">
                        <button class="btn btn-primary"> Add to Cart </button>
                    </p>
                </div>
            </div>
        </div>

        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <div class="card" style="width:400px">
                <img class="card-img-top" src="./assets/products/10003.jpg" alt="Card image" style="width:100%">
                <div class="card-body">
                    <h4 class="card-title" align="center">Apple</h4>
                    <p class="card-text">No Cost EMI Applicable from 1499/- PerMonth. Standard Charges Applicable.</p>
                    <h3>₹99999.00/-</h3>
                    <p align="right">
                        <button class="btn btn-primary"> Add to Cart </button>
                    </p>
                </div>
            </div>
        </div>

    </div>
</div> -->

<!-- <div class="container">
    <div class="row">
        <div class="col-md-4" *ngFor="let product of products">
            <div class="card" style="width:400px">
                <img class="card-img-top" [src]="product.imagePath" alt="Card image" style="width:100%">
                <div class="card-body">
                    <h4 class="card-title" align="center">{{product.name}}</h4>
                    <p class="card-text">{{product.description}}</p>
                    <h3>₹{{product.price}}/-</h3>
                    <p align="right">
                        <button class="btn btn-primary" (click)="addcart(product)"> Add to Cart </button>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div> -->


<div class="shell" >
    <div class="container" >
        <div class="row">
            <div class="col-md-3" *ngFor="let product of products">
                <div class="wsk-cp-product">
            
                    <div class="wsk-cp-img">
                        <img [src]="product.imagePath" alt="Product"
                            class="img-responsive" />
                    </div>
            
                    <div class="wsk-cp-text">
                        <div class="category">
                            <span>Mobile</span>
                        </div>
            
                        <div class="title-product">
                            <h3>{{product.name}}</h3>
                        </div>
            
                        <div class="description-prod">
                            <p>{{product.description}}</p>
                        </div>
            
                        <div class="card-footer">
                            <div class="wcf-left"><span class="price">{{product.price}}</span></div>
                            <div class="wcf-right"><button class="btn btn-primary">Add to Cart</button></div>
                        </div>
                    </div>
                </div>
            </div>

            
                <div class="col-md-3" *ngFor="let laptop of laptops">
                    <div class="wsk-cp-product">
                
                        <div class="wsk-cp-img">
                            <img [src]="laptop.imagePath" alt="Product"
                                class="img-responsive" />
                        </div>
                
                        <div class="wsk-cp-text">
                            <div class="category">
                                <span>Laptop</span>
                            </div>
                
                            <div class="title-product">
                                <h3>{{laptop.name}}</h3>
                            </div>
                
                            <div class="description-prod">
                                <p>{{laptop.description}}</p>
                            </div>
                
                            <div class="card-footer">
                                <div class="wcf-left"><span class="price">{{laptop.price}}</span></div>
                                <div class="wcf-right"><button class="btn btn-primary">Add to Cart</button></div>
                            </div>
                        </div>
                    </div>
                </div>


                
                    <div class="col-md-3" *ngFor="let desktop of desktops">
                        <div class="wsk-cp-product">
                    
                            <div class="wsk-cp-img">
                                <img [src]="desktop.imagePath" alt="Product"
                                    class="img-responsive" />
                            </div>
                    
                            <div class="wsk-cp-text">
                                <div class="category">
                                    <span>deskop</span>
                                </div>
                    
                                <div class="title-product">
                                    <h3>{{desktop.name}}</h3>
                                </div>
                    
                                <div class="description-prod">
                                    <p>{{desktop.description}}</p>
                                </div>
                    
                                <div class="card-footer">
                                    <div class="wcf-left"><span class="price">{{desktop.price}}</span></div>
                                    <div class="wcf-right"><button class="btn btn-primary">Add to Cart</button></div>
                                </div>
                            </div>
                        </div>
                    </div>

        </div>
    </div>
</div>
