<!-- <div class="container">
    <div class="row">
        <div class="col-md-4" *ngFor="let product of products">
            <div class="card" style="width:400px">
                <img class="card-img-top" [src]="product.imagePath" alt="Card image" style="width:100%">
                <div class="card-body">
                    <h4 class="card-title" align="center">{{product.name}}</h4>
                    <p class="card-text">{{product.description}}</p>
                    <h3>₹{{product.price}}/-</h3>
                    <p align="right">
                        <button class="btn btn-primary" (click)="addcart(product)"> Add to Cart </button>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <div class="card" style="width:400px">
                <img class="card-img-top" src="./assets/products/10001.jpg" alt="Card image" style="width:100%">
                <div class="card-body">
                    <h4 class="card-title" align="center">Nokia</h4>
                    <p class="card-text">No Cost EMI Applicable from 1499/- PerMonth. Standard Charges Applicable.</p>
                    <h3>₹12999.00/-</h3>
                    <p align="right">
                        <button class="btn btn-primary"> Add to Cart </button>
                    </p>
                </div>
            </div>
        </div>

        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <div class="card" style="width:400px">
                <img class="card-img-top" src="./assets/products/10004.jpg" alt="Card image" style="width:100%">
                <div class="card-body">
                    <h4 class="card-title" align="center">Samsung</h4>
                    <p class="card-text">No Cost EMI Applicable from 1499/- PerMonth. Standard Charges Applicable.</p>
                    <h3>₹29999.00/-</h3>
                    <p align="right">
                        <button class="btn btn-primary"> Add to Cart </button>
                    </p>
                </div>
            </div>
        </div>

        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <div class="card" style="width:400px">
                <img class="card-img-top" src="./assets/products/10003.jpg" alt="Card image" style="width:100%">
                <div class="card-body">
                    <h4 class="card-title" align="center">Apple</h4>
                    <p class="card-text">No Cost EMI Applicable from 1499/- PerMonth. Standard Charges Applicable.</p>
                    <h3>₹99999.00/-</h3>
                    <p align="right">
                        <button class="btn btn-primary"> Add to Cart </button>
                    </p>
                </div>
            </div>
        </div>

    </div>
</div> -->

<!-- <div class="container">
    <div class="row">
        <div class="col-md-4" *ngFor="let product of products">
            <div class="card" style="width:400px">
                <img class="card-img-top" [src]="product.imagePath" alt="Card image" style="width:100%">
                <div class="card-body">
                    <h4 class="card-title" align="center">{{product.name}}</h4>
                    <p class="card-text">{{product.description}}</p>
                    <h3>₹{{product.price}}/-</h3>
                    <p align="right">
                        <button class="btn btn-primary" (click)="addcart(product)"> Add to Cart </button>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div> -->


<div class="shell" >
    <div class="container" >
        <div class="row">
            <div class="col-md-3" >
                <div class="wsk-cp-product">
                    <div class="wsk-cp-img">
                        <img src="https://fdn2.gsmarena.com/vv/pics/samsung/samsung-galaxy-j7-j700f-1.jpg"
                            alt="Product" class="img-responsive" />
                    </div>
                    <div class="wsk-cp-text">
                        <div class="category">
                            <span>Mobile</span>
                        </div>
                        <div class="title-product">
                            <h3>Samsung J7</h3>
                        </div>
                        <div class="description-prod">
                            <p><b>RAM:</b> 6GB+128GB<br/>
                                <b>Camera:</b> 48MP<br/>
                             <b>Battery:</b>4300Mah</p>
                        </div>
                        <div class="card-footer">
                            <div class="wcf-left"><span class="price">₹50000</span></div>
                            <div class="wcf-right"><button class="btn btn-primary" >Add to Cart</button></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="wsk-cp-product">
                    <div class="wsk-cp-img"><img
                            src="https://fdn2.gsmarena.com/vv/pics/apple/apple-iphone-12-r1.jpg"
                            alt="Product" class="img-responsive" /></div>
                    <div class="wsk-cp-text">
                        <div class="category"> 
                            <span>Mobile</span>
                        </div>
                        <div class="title-product">
                            <h3>I phone 12</h3>
                        </div>
                        <div class="description-prod">
                            <p><b>RAM:</b> 6GB+128GB<br/>
                                <b>Camera:</b> 48MP<br/>
                             <b>Battery:</b>4300Mah</p>
                        </div>
                        <div class="card-footer">
                            <div class="wcf-left"><span class="price">₹50000</span></div>
                            <div class="wcf-right"><button class="btn btn-primary" >Add to Cart</button></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="wsk-cp-product">
                    <div class="wsk-cp-img"><img
                            src="https://fdn2.gsmarena.com/vv/pics/oneplus/oneplus-8-polar-silver.jpg"
                            alt="Product" class="img-responsive" /></div>
                    <div class="wsk-cp-text">
                        <div class="category">
                            <span>Mobile</span>
                        </div>
                        <div class="title-product">
                            <h3>One plus 8</h3>
                        </div>
                        <div class="description-prod">
                            <p><b>RAM:</b> 6GB+128GB<br/>
                               <b>Camera:</b> 48MP<br/>
                            <b>Battery:</b>4300Mah</p>
                        </div>
                        <div class="card-footer">
                            <div class="wcf-left"><span class="price">₹50000</span></div>
                            <div class="wcf-right"><button class="btn btn-primary" >Add to Cart</button></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="wsk-cp-product">
                    <div class="wsk-cp-img"><img
                            src="https://fdn2.gsmarena.com/vv/pics/realme/realme-9-5g-global-1.jpg"
                            alt="Product" class="img-responsive" /></div>
                    <div class="wsk-cp-text">
                        <div class="category">
                            <span>Mobile</span>
                        </div>
                        <div class="title-product">
                            <h3>Real me 9 5G</h3>
                        </div>
                        <div class="description-prod">
                            <p><b>RAM:</b> 6GB+128GB<br/>
                                <b>Camera:</b> 64MP<br/>
                             <b>Battery:</b>4500Mah</p>
                        </div>
                        <div class="card-footer">
                            <div class="wcf-left"><span class="price">₹50000</span></div>
                            <div class="wcf-right"><button class="btn btn-primary" >Add to Cart</button></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <div class="wsk-cp-product">
                    <div class="wsk-cp-img">
                        <img src="https://fdn2.gsmarena.com/vv/pics/xiaomi/xiaomi-redmi-note-12-pro-speed-1.jpg"
                            alt="Product" class="img-responsive" />
                    </div>
                    <div class="wsk-cp-text">
                        <div class="category">
                            <span>Mobile</span>
                        </div>
                        <div class="title-product">
                            <h3>Redmi Note 12 pro</h3>
                        </div>
                        <div class="description-prod">
                            <p><b>Processor:</b>Snapdragon 778G 5G<br/>
                                <b>Camera:</b> 48MP<br/>
                             <b>Battery:</b>4300Mah</p>
                        </div>
                        <div class="card-footer">
                            <div class="wcf-left"><span class="price">₹50000</span></div>
                            <div class="wcf-right"><button class="btn btn-primary" >Add to Cart</button></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="wsk-cp-product">
                    <div class="wsk-cp-img"><img
                            src="https://images.pexels.com/photos/1229861/pexels-photo-1229861.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                            alt="Product" class="img-responsive" /></div>
                    <div class="wsk-cp-text">
                        <div class="category">
                            <span>Laptop</span>
                        </div>
                        <div class="title-product">
                            <h3>MAC</h3>
                        </div>
                        <div class="description-prod">
                            <p><b>OS:</b> MAC<br/>
                             <b>bsttery:</b>4300Mah</p>
                        </div>
                        <div class="card-footer">
                            <div class="wcf-left"><span class="price">₹50000</span></div>
                            <div class="wcf-right"><button class="btn btn-primary" >Add to Cart</button></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="wsk-cp-product">
                    <div class="wsk-cp-img"><img
                            src="https://www.lenovo.com/medias/lenovo-laptop-yoga-slim-7-carbon-gen-6-14-intel-subseries-hero.png?context=bWFzdGVyfHJvb3R8MjIxNTIyfGltYWdlL3BuZ3xoYTgvaDQ5LzE0MTkyNDM0Njc1NzQyLnBuZ3w1YzdiNzFlYjBiYWY0YmZlN2Q2MzhkZmViZDdkZTE2NGM0NWU4YTgyZjY5NWI3MDgyNDJlNjE3ZTNhY2ZmMmZh"
                            alt="Product" class="img-responsive" /></div>
                    <div class="wsk-cp-text">
                        <div class="category">
                            <span>Laptop</span>
                        </div>
                        <div class="title-product">
                            <h3>Lenovo legion </h3>
                        </div>
                        <div class="description-prod">
                            <p><b>processod:</b> i7 11th gen<br/>
                                <b>OS:</b> Windows<br/>
                             <b>Battery:</b>4300Mah</p>
                        </div>
                        <div class="card-footer">
                            <div class="wcf-left"><span class="price">₹85000</span></div>
                            <div class="wcf-right"><button class="btn btn-primary" >Add to Cart</button></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="wsk-cp-product">
                    <div class="wsk-cp-img"><img
                            src="https://www.lenovo.com/medias/lenovo-desktop-ideacentre-aio-3-gen-6-24-amd-subseries-gallery-1.png?context=bWFzdGVyfHJvb3R8OTEwMjB8aW1hZ2UvcG5nfGg1ZC9oZDgvMTE4OTY3MjU3MzM0MDYucG5nfGRjZmQxMmYxMzk0ODc1ZDM0MzI5OTU4YjE0ZTQwYjBlMWRjZDczNzUzMGE4M2I4N2EwODVjZTc2YmZlNTI5ZTA"
                            alt="Product" class="img-responsive" /></div>
                    <div class="wsk-cp-text">
                        <div class="category">
                            <span>Desktop</span>
                        </div>
                        <div class="title-product">
                            <h3>lenovo</h3>
                        </div>
                        <div class="description-prod">
                            <p><b>size:</b> 24in<br/>
                                <b>brightness:</b> 100nits<br/>
                             <b>CPU: 12th gen</b></p>
                        </div>
                        <div class="card-footer">
                            <div class="wcf-left"><span class="price">₹85000</span></div>
                            <div class="wcf-right"><button class="btn btn-primary" >Add to Cart</button></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
