body{
    margin: 0;
    padding: 0;
    background: linear-gradient(120deg, #2980b9, #8e44ad);
    height: 100vh;
    overflow: hidden;
}
.center{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background: white;
    border-radius: 10px;
}
.center h1{
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom: 1px solid silver;
}

.center form{
    padding: 0 40px;
    box-sizing: border-box;
}
.pass{
    margin: -5px 0 20px 5px;
    color: #a6a6a6;
    cursor: pointer;
}
.pass:hover{
    text-decoration: underline;
}

button{
    width: 100%;
    height: 50px;
    border: 1px solid;
    border-radius:25px ;
    font-size: 18px;
    color: #e9f4fb;
    font-weight: 700;
    cursor: pointer;
    outline: none;
}
button:hover{
    border-color: #2691d9 ;
    transition: .5s;
}
.sign-up{
    margin: 30px 0;
    text-align: center;
    font-size: 16px;
    color: #666666;
}
.sign-up a:hover{
    text-decoration: underline;
}

.google{
    margin-bottom: 20px;
}