
<html>
  <head>
      <title>Home Page</title>
      <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
        integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer"
      />
      </head>
      
      
<body>

  <section id="header" class="header">
    <div class="nav-bar">
      <div class="logo">
        <img src="">
      </div>
      <div class="menu">
        <ul>
           <!-- <li><a class="nav-link" routerLink="/header">Home</a></li> -->
          <!--<li><a href="login">Login</a></li>
          <li><a href="#">Enquiry</a></li>
          <li><a href="#">Authur</a></li>
          <li><a href="#">Register</a></li> -->
        </ul>
      </div>
      <div class="social-media" >
        <ul>
          <li><i style="color: white" class="fa-brands fa-facebook"></i></li>
          <li><i style="color: white" class="fa-brands fa-twitter"></i></li>
          <li><i style="color: white" class="fa-brands fa-instagram"></i></li>
        </ul>
      </div>
    </div>
    <div class="hero">
      <div class="row">
        <div class="left-sec">
          <div class="content">
            <h2><span><img src="\assets\images\e_serve-removebg-preview.png"> </span><br /></h2>
            <p> Worry about the internal components of your devices we are here to serve at your door step !!!<p>
            
          </div>
          <button class="discover-btn">
            <a href="#">discover</a>
            <span><i class="fa fa-arrow-circle-o-right"></i></span>
          </button>
          <div class="info">
            <div class="info-text">
              <div class="production">
                <p>Production</p>
                <h5 style=" color:#d43242">since 1999</h5>
              </div>
              <div class="production2">
                <p>Designer</p>
                <h5 style=" color:#d43242">Assam Peterson</h5>
              </div>                
            </div>
            <div class="right-sec">
              <div class="my-bike">
                <div></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>
</html>



