.form-control{
    border-radius: 3px;
    width: 550px;
    margin-left:20px;
   margin-top: 8px;
}

#logout{
    margin-left: 450px;
}

.search-icon{
    position: absolute;
    z-index: 10;
    right: 630px;
    color: black;
    top:30px;
}

.cart-plus{
    margin-left: 20px;
}
