<div class="container" align="center">

    <form #loginForm="ngForm" (ngSubmit)="loginSubmit(loginForm.value)" novalidate>

        <div class="input-group">
            <label>Enter EmailID</label>
            <input type="text" class="form-control" name="emailId"  ngModel #emailId="ngModel"  required minlength="2" maxlength="50" email/>
        </div><br/>
        <button [disabled]="!loginForm.valid" class="btn btn-primary" routerLink="/otp"> Submit </button>
      </form>

    <div *ngIf="emailId.errors?.['required']  && emailId.touched">  <h5> Enter Email Id </h5> </div>

    <div *ngIf="emailId.errors?.['email'] && emailId.touched"> <h5> Enter EmailId Correctly </h5> </div>

    <div *ngIf="emailId.errors?.['minlength']  && emailId.touched">  <h5> Enter atleast 2 character for EmailID </h5> </div>
</div>
          




